<mat-nav-list>
  <div class="profile-card">
    <div class="header pointer">
      <h4>{{ services.Perfil }}</h4>
    </div>
    <img src="assets/images/Brasao.png" alt="SEDET" />
  </div>

  <mat-divider></mat-divider>

  <h2 matSubheader style="font-weight: bold;">BI's ADECE</h2>  

  <mat-divider></mat-divider>
  <a
    mat-list-item
    *ngIf="['Presidência', 'Diretor', 'Gerente', 'Assessor','Técnico FDI', 'Técnico DIRINP', 'Técnico', 'Diretor DIRINP', 'Diretor DIFOM'].indexOf(services.Perfil) !== -1"
    routerLinkActive="list-item-active"
    routerLink="/monitor-mercado"
    >MONITOR DE MERCADO
  </a>

  <mat-divider></mat-divider>
  <a
    mat-list-item
    *ngIf="
      ['Presidência', 'Diretor', 'Assessor', 'Diretor DIRINP', 'Diretor DIFOM'].indexOf(
        services.Perfil
      ) !== -1
    "
    routerLinkActive="list-item-active"
    routerLink="/cearacredi"
    >CEARÁ CREDI
  </a>

  <mat-divider></mat-divider>
  <a
    mat-list-item
    *ngIf="
      ['Presidência', 'Diretor', 'Gerente', 'Assessor','Técnico FDI', 'Técnico DIRINP', 'Técnico', 'Diretor DIRINP', 'Diretor DIFOM'].indexOf(
        services.Perfil
      ) !== -1
    "
    routerLinkActive="list-item-active"
    routerLink="/noticias"
    >NOTÍCIAS DO DIA
  </a>

  <mat-divider></mat-divider>
  <a
    mat-list-item
    *ngIf="
      ['Presidência', 'Diretor', 'Gerente', 'Assessor', 'Diretor DIRINP', 'Diretor DIFOM'].indexOf(
        services.Perfil
      ) !== -1
    "
    routerLinkActive="list-item-active"
    routerLink="/mapps-adece"
    >MAPPS ADECE
  </a>

  <mat-divider></mat-divider>
  <a
    mat-list-item
    *ngIf="
      ['Presidência', 'Técnico DIRINP', 'Assessor', 'Diretor DIRINP'].indexOf(
        services.Perfil
      ) !== -1
    "
    routerLinkActive="list-item-active"
    routerLink="/imoveis"
    >IMÓVEIS
  </a>

  <mat-divider></mat-divider>
  <a
    mat-list-item
    *ngIf="
      ['Presidência', 'Diretor', 'Gerente', 'Assessor','Técnico FDI', 'Técnico DIRINP', 'Técnico', 'Diretor DIRINP', 'Diretor DIFOM'].indexOf(services.Perfil) !== -1
    "
    routerLinkActive="list-item-active"
    routerLink="/economia-cearense"
    >ECONOMIA CEARENSE
  </a>

  <mat-divider></mat-divider>
  <a
    mat-list-item
    *ngIf="['Presidência', 'Diretor DIFOM', 'Assessor','Técnico FDI'].indexOf(services.Perfil) !== -1"
    routerLinkActive="list-item-active"
    routerLink="/fdif"
    >PLEITOS - FDI
  </a>

  <mat-divider></mat-divider>
  <a
    mat-list-item
    *ngIf="
      ['Presidência', 'Assessor'].indexOf(
        services.Perfil
      ) !== -1
    "
    routerLinkActive="list-item-active"
    routerLink="/h2v"
    >INDICADORES FINANCEIROS</a
  >

  <mat-divider></mat-divider>
  <a
    mat-list-item
    *ngIf="['Presidência', 'Assessor'].indexOf(services.Perfil) !== -1"
    routerLinkActive="list-item-active"
    routerLink="/ifei"
    >PIPELINE ADECE</a
  >

  <mat-divider></mat-divider>
  <a
    mat-list-item
    *ngIf="
      ['Presidência', 'Assessor'].indexOf(
        services.Perfil
      ) !== -1
    "
    routerLinkActive="list-item-active"
    routerLink="/ifv"
    >DOCUMENTOS VARIADOS</a>

    <mat-divider></mat-divider>
    <a
    mat-list-item
    *ngIf="['Presidência', 'Diretor', 'Gerente', 'Assessor','Técnico FDI', 'Técnico DIRINP', 'Técnico', 'Diretor DIRINP', 'Diretor DIFOM'].indexOf(services.Perfil) !== -1"
    href="http://www.panorama.sedet.ce.gov.br/" target="_blank">PANORAMA SEDET
  </a>

  
<!--
  <mat-divider> </mat-divider>
  <a
    mat-list-item
    *ngIf="
      ['Secretário', 'Presidência', 'Técnico Adece', 'Técnico Sedet'].indexOf(
        services.Perfil
      ) !== -1
    "
    routerLinkActive="list-item-active"
    routerLink="/irv"
    >Indicadores de Risco Vinculadas
  </a>

  <mat-divider></mat-divider>
  <a
    mat-list-item
    *ngIf="
      ['Secretário', 'Presidência', 'Técnico Adece', 'Técnico Sedet'].indexOf(
        services.Perfil
      ) !== -1
    "
    routerLinkActive="list-item-active"
    routerLink="/bi-adece"
    >BI's ADECE
  </a>

  <mat-divider></mat-divider>
  <a
    mat-list-item
    *ngIf="
      ['Secretário', 'Presidência', 'Técnico Adece', 'Técnico Sedet'].indexOf(
        services.Perfil
      ) !== -1
    "
    routerLinkActive="list-item-active"
    routerLink="/indicadoresCeara"
    >Indicadores Socioeconômico do Ceará
  </a>

  <mat-divider></mat-divider>
  <a
    mat-list-item
    *ngIf="
      [
        'Secretário',
        'Presidência',
        'Técnico Adece',
        'Técnico Sedet',
        'Público'
      ].indexOf(services.Perfil) !== -1
    "
    routerLinkActive="list-item-active"
    routerLink="/mses"
    >Monitor Socioeconômico Sedet</a
  >

  <mat-divider></mat-divider>
  <a
    mat-list-item
    *ngIf="
      [
        'Secretário',
        'Presidência',
        'Técnico Adece',
        'Técnico Sedet',
        'Público'
      ].indexOf(services.Perfil) !== -1
    "
    routerLinkActive="list-item-active"
    routerLink="/ncaged"
    >RAIS e CAGED Ceará
  </a>

  <mat-divider></mat-divider>
  <a
    mat-list-item
    *ngIf="
      ['Secretário', 'Presidência', 'Técnico Adece'].indexOf(
        services.Perfil
      ) !== -1
    "
    routerLinkActive="list-item-active"
    routerLink="/imoveisAdece"
    >Relação de Imóveis ADECE
  </a>

  <mat-divider></mat-divider>
  <a
    mat-list-item
    *ngIf="['Secretário'].indexOf(services.Perfil) !== -1"
    routerLinkActive="list-item-active"
    routerLink="/rmebfdi"
    >Relatório de Monitoramento das Empresas Beneficiadas pelo FDI</a
  >
-->
  <mat-divider></mat-divider>

  <!--a *ngFor="let opcao of services.menu" mat-list-item routerLinkActive="list-item-active"
    routerLink="/bisedet/{{opcao.id}}">{{opcao.title}}</a-->
  <!--h2 matSubheader>Administração</h2-->

  <!--a mat-list-item routerLinkActive="list-item-active" routerLink="/assuntos">Assuntos</a-->

  <!--a mat-list-item routerLinkActive="list-item-active" routerLink="/endpoints">
        <mat-icon>import_contacts</mat-icon>
        Empresas e EndPoints
    </a-->

  <!--a mat-list-item routerLinkActive="list-item-active" (click)="logout()">
        <mat-icon>logout</mat-icon>
        LogOut
    </a-->
</mat-nav-list>
