<h1 mat-dialog-title>Bem vindo, para continuar, defina o perfil de acesso.</h1>
<div mat-dialog-content>
  <p></p>
  <mat-form-field fxFlex>
    <mat-select placeholder="Selecione o Perfil" [(ngModel)]="Perfil">
      <mat-option [value]="'Presidência'">Presidente</mat-option>
      <mat-option [value]="'Diretor'">Diretor </mat-option>
      <mat-option [value]="'Diretor DIRINP'">Diretor DIRINP</mat-option>
      <mat-option [value]="'Diretor DIFOM'">Diretor DIFOM</mat-option>
      <mat-option [value]="'Gerente'">Gerente</mat-option>
      <mat-option [value]="'Assessor'">Assessor</mat-option>
      <mat-option [value]="'Técnico FDI'">Técnico FDI </mat-option>
      <mat-option [value]="'Técnico DIRINP'">Técnico DIRINP </mat-option>
      <mat-option [value]="'Técnico'">Técnico </mat-option>
    </mat-select>
  </mat-form-field>
  <div fxFlex="1"></div>
  <mat-form-field fxFlex>
    <input
      matInput
      type="password"
      [(ngModel)]="password"
      placeholder="Sua Senha"
    />
  </mat-form-field>
  <div fxFlex="1"></div>
</div>
<div mat-dialog-actions>
  <button
    mat-button
    (click)="onNoClick()"
    [disabled]="Perfil.length === 0 && password.length === 0"
    cdkFocusInitial
  >
    Ok, Entrar
  </button>
</div>
